
.blue {
  color: blue;
}

.bold {
  font-weight: bold
}

.btn {
  background-color: green;
  color: white;
  font-family: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.btn:hover {
  background-color: lightgreen;
  color: black;
}

.btn.red {
  background-color: red;
}

.btn.red:hover {
  background-color: salmon;
  color: black;
}